header
  .container
    .menu
      .logo
        span Webworld
      nav.navigation
        ul
          li
            a(href="#") Home
          li
            a(href="#") Portfolio
          li
            a(href="#") Contact
    .header-content
      .slick-prev
        i(class="la la-angle-left")
      .slick-next
        i(class="la la-angle-right")
      ul.slider-dots
      .slider
        .slider-item
          .slider-item__content
            .text
              h1 Clean, flat & polished design 
              h3 Proin facilisis aliquam nunc quis varius.
            a.btn(href="#") Show more
        .slider-item
          .slider-item__content
            .text
              h1 Lorem ipsum dolor sit amet. 
              h3 Lorem ipsum dolor sit amet consectetur adipisicing elit.
            a.btn(href="#") Show more
        .slider-item
          .slider-item__content
            .text
              h1 Consectetur, adipisicing elit.
              h3 Deserunt nisi perspiciatis quisquam officia sunt quaerat facilis quibusdam laboriosam?
            a.btn(href="#") Show more
  